.ss-arrow {
    display: none !important;
}

.ss-main .ss-single-selected {
    height: 2.25em;
}
@media (hover: hover) {
    .select select {
        display: block !important;
        position: absolute;
        clip: rect(0,0,0,0);
        pointer-events: none;
    }
}

.required-star {
    color: #E02828;
    font-weight: normal;
}

.join-url {
    word-wrap: break-word;
}

/* Google Translate Widget */
#google_translate_element select {
    height: 35px;
    background-color: #fff;
    color: #000
}

#google_translate_element select+select {
    background-color: gray;
    display: none
}

.goog-te-banner-frame.skiptranslate {
    display: none!important;
}
