.footer {
    background-color: #253746 !important;
}

.ss-arrow,
.ss-main .ss-multi-selected .ss-add {
    display: none !important;
}

.ss-main .ss-single-selected,
.ss-main .ss-multi-selected {
    height: 2.25em;
}
.select select[data-ssid] {
    display: block !important;
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
    max-height: 18px;
}

.required-star {
    color: #E02828;
    font-weight: normal;
}

.join-url {
    word-wrap: break-word;
}

/* Radio buttons */
.radio {
    padding-right: 1rem;
}

/* Google Translate Widget */
body {
    top: 0 !important;
}

#google_translate_element {
    padding-bottom: 0.75rem;
}

#google_translate_element select+select {
    background-color: gray;
    display: none
}

.goog-te-banner-frame.skiptranslate {
    display: none!important;
}

.goog-tooltip {
    display: none !important;
}

.goog-te-gadget {
    position: relative;
    display: inline-block!important;
    color: transparent!important;
    font-size: 0!important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none
}

.goog-logo-link {
    display: none!important
}

.goog-te-combo {
    font-family: inherit !important;
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    color: #363636;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid #dbdbdb;
    display: inline-flex;
    font-size: 1rem !important;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(.375em - 1px);
    padding-left: calc(.625em - 1px);
    padding-right: 2.5em;
    padding-top: calc(.375em - 1px);
    position: relative;
    vertical-align: top;
}

.goog-te-gadget div {
    font-size: 1rem;
}

.goog-te-gadget div:not(.is-multiple):not(.is-loading)::after {
    border: 3px solid #3273dc;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    width: .625em;
}

.goog-te-gadget div:not(.is-multiple):not(.is-loading)::after {
    right: 1.125em;
    z-index: 4;
}

.gtranslate-icon {
    height: 46px;
    padding-right: 5px;
    filter: brightness(0) invert(1);
}

.goog-text-highlight {
    background-color: transparent !important;
}
